<!--resources/templates/thymeleafEx.html-->

<!DOCTYPE html>
<html lang="ko" xmlns:th="http//www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layouts/default}">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script type="text/javascript" th:src="@{/JS/USER/mdfyMminf.js}"></script>
    <script type="text/javascript" th:src="@{/JS/COMMON/common.js}"></script>
</head>
<body>
    <div layout:fragment="content">
        <br>
        <h2>회원정보수정</h2>
        <form name="form1" method="post" action="/user/mdfyMminf.do">
<table border="1" width="400px">
                <tr>
                    <td>회원 ID</td>
                    <td>
                        <input type="text" id="id" name="id" minlength="5" maxlength="15" th:value="${uDto.id}" disabled>
                    </td>
                </tr>
                <tr>
                    <td>회원 비밀번호</td>
                    <td>
                        <input type="password" id="pwd" name="pwd" minlength="8" maxlength="20">
                    </td>
                </tr>
                <tr>
                    <td>회원 닉네임</td>
                    <td>
                        <input type="text" id="ncknm" name="ncknm" minlength="3" maxlength="15" th:value="${uDto.ncknm}">
                    </td>
                </tr>
                <tr>
                    <td>회원 이메일</td>
                    <td>
                        <input type="email" id="email" name="email" th:value="${uDto.email}">
                    </td>
                </tr>
                <tr>
                    <td>회원 전화번호</td>
                    <td>
                        <input type="number" id="phone" name="phone" th:value="${uDto.phone}">
                    </td>
                </tr>
                <tr>
                    <td colspan="2" align="center">
                        <button type="button" id="btnLogin" onclick="mdfyMminfCheck();">수정 </button>
                    </td>
            </tr>
            </table>
        </form>
    <br>
    </div>
</body>
</html>
