<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.bank.banklist.mapper.user.UserMapper">

<select id = "login" parameterType="com.bank.banklist.dto.user.UserDto" resultType="com.bank.banklist.dto.user.UserDto">
          select 
              *
          from TB_MEMBERDATA
      where id = #{id}
</select>

<insert id = "joinMembership" parameterType="com.bank.banklist.dto.user.UserDto" >
    INSERT /* com.bank.banklist.mapper.user.UserMapper.joinMembership */
        INTO  TB_MEMBERDATA
        ( SERIAL,
          ID,
          PWD,
          NCKNM,
          EMAIL,
          PHONE,
          STATEEDCODE,
          RGSTRDATE)
        VALUES(
          LPAD(member_seq.NEXTVAL,10,0),
          #{id},
          #{pwd},
          #{ncknm},
          #{email},
          #{phone},
        'E',
        SYSDATE 
        )
</insert>


<!-- 아이디 중복 체크 -->
	<select id="loginIdCheck" parameterType="String" resultType="int">
		SELECT COUNT(id) FROM TB_MEMBERDATA WHERE id= #{id}
	</select>
	
  <update id="mdfyMminf" parameterType="com.bank.banklist.dto.user.UserDto" >
    update TB_MEMBERDATA
      set NCKNM = #{ncknm},
          EMAIL = #{email},
          PHONE= #{phone},
          RGSTRDATE = SYSDATE
    where ID = #{id}
  </update>
</mapper>