<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.bank.banklist.mapper.bank.DpstMapper">

<select id = "dpstList" parameterType="com.bank.banklist.dto.bank.DpstDto" resultType="com.bank.banklist.dto.bank.DpstDto">
             select 
                b.dpstnamebank, b.dpstdate, b.dpstbriefs, b.dpstbriefsdetail, b.dpstprice
          from tb_dpstDtls b
                where b.id = #{id} 
</select>
<!--입금 내역 등로 -->
<insert id="dpstExceInsert" parameterType="map" >
      INSERT INTO TB_DPSTDTLS
            (     SERIAL,
                  ID,
                  DPSTNAMEBANK,
                  DPSTDATE,
                  DPSTBRIEFS,
                  DPSTBRIEFSDETAIL,
                  DPSTPRICE,
                  RGSTRDATE)
            VALUES(
                        TB_DPSTDTLS_SEQ.NEXTVAL,
                        #{id},
                        #{dpstNameBank},
                        #{dpstDate},
                        #{dpstBriefs},
                        #{dpstBriefsDetail},
                        #{dpstPrice},
                        SYSDATE )

</insert>
</mapper>