<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.bank.banklist.mapper.bank.DpstMapper">

<select id = "dpstList" parameterType="com.bank.banklist.dto.bank.DpstDto" resultType="com.bank.banklist.dto.bank.DpstDto">
             select /* dpstList */
                b.dpstnamebank, b.dpstdate, b.dpstbriefs, b.dpstbriefsdetail, b.dpstprice
          from tb_dpstDtls b
                where
                        1=1
							<choose>
								<when test="null != id">
										and ( b.id = #{id})
								</when>
								<when test="null == id">
									and 1=2	
								</when>
							</choose>
              order by dpstdate
</select>

<select id = "dpstListPage" parameterType="com.bank.banklist.dto.common.PaginationVo" resultType="com.bank.banklist.dto.bank.DpstDto">
      SELECT /* dpstListPage */
		*
	FROM
		(
	      	SELECT
				*
			FROM
				(
                  select 
                        ROW_NUMBER() OVER ( ORDER BY to_number(REPLACE(REGEXP_REPLACE(b.DPSTDATE, '[[:punct:]]', ''), ' ', '')) desc)  AS a_no
                        ,b.dpstnamebank, b.dpstdate, b.dpstbriefs, b.dpstbriefsdetail, b.dpstprice
                  from tb_dpstDtls b
                        where 1=1
                              <choose>
                                    <when test="null != id">
                                          and ( b.id = #{id})
                                    </when>
                                    <when test="null == id">
                                          and 1=2	
                                    </when>
                              </choose>
                              <choose>
						<when test="'nameBank' == searchType">
							<!-- 은행 -->
							and (b.dpstnamebank like '%'|| #{keyword}  ||'%' )
						</when>
						<when test="'brief' == searchType">
							<!-- 적요 -->
							and (b.dpstBriefs like '%'|| #{keyword}  ||'%' )
						</when>
						<when test="'briefDetails' == searchType">
							<!-- 적요상세 -->
							and (b.dpstBriefsDetail like '%'|| #{keyword}  ||'%' )
						</when>
					</choose>
                        )
      WHERE
		a_no 	<![CDATA[ <= 	]]> (#{page} * #{rowCount})
		)
	WHERE (((#{page}-1) * #{rowCount}) + 1) <![CDATA[<=	]]> a_no
</select>

<select id = "dpstListCount" parameterType="String" resultType="int">
      SELECT
		count(1)
	FROM
		(
                  select /* dpstList */
                        b.dpstnamebank, b.dpstdate, b.dpstbriefs, b.dpstbriefsdetail, b.dpstprice
                  from tb_dpstDtls b
                        where 1=1
                              <choose>
                                    <when test="null != id">
                                          and ( b.id = #{id})
                                    </when>
                                    <when test="null == id">
                                          and 1=2	
                                    </when>
                              </choose>
                              <choose>
						<when test="'nameBank' == searchType">
							<!-- 은행 -->
							and (b.dpstnamebank like '%'|| #{keyword}  ||'%' )
						</when>
						<when test="'brief' == searchType">
							<!-- 적요 -->
							and (b.dpstBriefs like '%'|| #{keyword}  ||'%' )
						</when>
						<when test="'briefDetails' == searchType">
							<!-- 적요상세 -->
							and (b.dpstBriefsDetail like '%'|| #{keyword}  ||'%' )
						</when>
					</choose>
            )
</select>


<!--입금 내역 등로 -->
<insert id="dpstExceInsert" parameterType="map" >
      INSERT INTO TB_DPSTDTLS
            (     SERIAL,
                  ID,
                  DPSTNAMEBANK,
                  DPSTDATE,
                  DPSTBRIEFS,
                  DPSTBRIEFSDETAIL,
                  DPSTPRICE,
                  RGSTRDATE)
            VALUES(
                        TB_DPSTDTLS_SEQ.NEXTVAL,
                        #{id},
                        #{dpstNameBank},
                        #{dpstDate},
                        #{dpstBriefs},
                        #{dpstBriefsDetail},
                        #{dpstPrice},
                        SYSDATE )

</insert>

<!-- 입금 내역 수정-->
      <update id="dpstExceUpdat" parameterType="map">
            update TB_DPSTDTLS
                  set 
                      DPSTBRIEFS = #{dpstBriefs},
                      DPSTBRIEFSDETAIL = #{dpstBriefsDetail},
                      DPSTPRICE = #{dpstPrice},
                      RGSTRDATE = SYSDATE
                  where 
                      serial  = #{d_serial}
      </update>
</mapper>