<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.bank.banklist.mapper.bank.WthdrMapper" >
    
<select id = "wthdrList" resultType="com.bank.banklist.dto.bank.WthdrDto">
          select 
                  a.wthdrnamebank, a.wthdrdate, a.wthdrbriefs, a.wthdrbriefsdetail, a.wthdrprice
          from tb_wthdrDtls a 
            where a.id = #{id}
</select>

    <select id="wthdrExceInsert" parameterType="hashMap" resultType="com.bank.banklist.dto.bank.WthdrDto">
        select 
          #{titl_0} as  id1
        from dual
    </select>

    <insert id="wthdrdtlsInsert" parameterType="map" >
    INSERT 	
        INTO
	        TB_WTHDRDTLS
      ( SERIAL,
        ID,
        WTHDRNAMEBANK,
        WTHDRDATE,
        WTHDRBRIEFS,
        WTHDRBRIEFSDETAIL,
        WTHDRPRICE,
        RGSTRDATE)
      VALUES(
        TB_WTHDRDTLS_SEQ.NEXTVAL,
          #{id},
          #{wthdrNameBank},
          #{wthdrDate},
          #{wthdrBriefs},
          #{wthdrBriefsDetail},
          #{wthdrPrice},
          SYSDATE 
      )

    </insert>
</mapper>