<!--resources/templates/thymeleafEx.html-->
<!DOCTYPE html>
<html lang="ko" xmlns:th="http//www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layouts/default}">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>출금 내역 조회 화면</title>
</head>
<body>
  <div layout:fragment="content">
    <br>
    출금
    
    <table>
      <tr th:each="wDtoList : ${wDto}">
        <td th:text="${wDtoList.wthdrnamebank}"></td>
        <td th:text="${wDtoList.wthdrdate}"></td>
        <td th:text="${wDtoList.wthdrbriefs}"></td>
        <td th:text="${wDtoList.wthdrbriefsdetail}"></td>
        <td th:text="${wDtoList.wthdrprice}"></td>
        <td th:text="${wDtoList.dpstdate}"></td>
        <td th:text="${wDtoList.dpstbriefs}"></td>
        <td th:text="${wDtoList.dpstbriefsdetail}"></td>
        <td th:text="${wDtoList.dpstprice}"></td>
      </tr>
    </table>
  <!--
  <table>
    <tr th:each="wDtoList : ${wDto}">
      <td th:text="${wDtoList.id}"></td>
      <td th:text="${wDtoList.trnscDate}"></td>
      <td th:text="${wDtoList.nameBank}"></td>
      <td th:text="${wDtoList.typeDtls}"></td>
    </tr>
  </table>
  -->
    <br>
</div>

</body>
</html>
